<div>
  <table class="table">
    <thead>
    <tr>
      <th>Id:</th>
      <th>Name:</th>
    </tr>
    </thead>

    <tbody>
    <% @genres.each do |genre| %>
      <tr>
        <td><%= genre.id %></td>
        <td><%= genre.name %></td>


        <td style="text-align: right">
          <%= link_to 'Delete genre', genre, class: 'button', method: :delete, data: {confirm: 'Você tem certeza?'} %>
          <%= link_to 'Edit genre', genres_edit_path(genre), class: 'button' %>
          <%= link_to 'Show genre', genre, class: 'button' %>
        </td>
      </tr>
    <% end %>
    </tbody>

  </table>

  <div class="panelT panelaligright">
    <%= link_to 'Add new genre', genres_new_path, class: 'button' %>
  </div>

</div>
