<div class="panel">

  <div class="panel">
    <h2>Book with greater number of pages:</h2>
    <div class="panel"><%= @nome_maior_livro %></div>
  </div>
  <div class="panel">
    <h2>Most expensive book:</h2>
    <div class="panel"><%= @report_livro_mais_caro %></div>
  </div>

  <div class="panel">
    <h2>Total catalog books:</h2>
    <div class="panel"><%= @report_total_de_livros %></div>
  </div>

  <div class="panel">
    <h2>Total value of books:</h2>
    <div class="panel"><%= @report_total_de_valor %></div>
  </div>

  <div class="panel">
    <h2>Total pages added:</h2>
    <div class="panel"><%= @report_total_de_paginas %></div>
  </div>

  <div class="panel">
    <h2>Last Book Catalog:</h2>
    <div class="panel"><%= @report_ultimo_livro.title %></div>
  </div>

  <div class="panel">
    <h2>Most used genre:</h2>
    <div class="panel"><%= @genero_mais_ultilizado %></div>
  </div>

</div>