<div class="panel">
  <table class="table vert">
    <tr>
      <th>Livro com maior numero de páginas:</th>
      <td><%= @nome_maior_livro %></td>
    </tr>
    <tr>
      <th>Livro mais caro:</th>
      <td><%= @report_livro_mais_caro %></td>
    </tr>
    <tr>
      <th>Total de livros do catalogo:</th>
      <td><%= @report_total_de_livros %></td>
    </tr>
    <tr>
      <th>Valor total dos livros:</th>
      <td><%= @report_total_de_valor%></td>
    </tr>
    <tr>
      <th>Total de páginas somadas:</th>
      <td><%= @report_total_de_paginas%></td>
    </tr>
    <tr>
      <th>Último Livro Catalogado:</th>
      <td><%= @report_ultimo_livro.title %></td>
    </tr>
    <tr>
      <th>Gênero mais utilizado:</th>
      <td><%= @genero_mais_ultilizado %></td>
    </tr>
  </table>
</div>