<div class="panel">

  <div class="panel">
    <h2>Id:</h2>
    <div class="panel"><%= @book.id %></div>
  </div>
  <div class="panel">
    <h2>Title:</h2>
    <div class="panel"><%= @book.title %></div>
  </div>
  <div class="panel">
    <h2>Synopsis:</h2>
    <div class="panel"><textarea readonly><%= @book.synopsis %></textarea></div>
  </div>
  <div class="panel">
    <h2>Genre:</h2>
    <div class="panel"> <%= @book.genre.name %> </div>
  </div>
  <div class="panel">
    <h2>Value:</h2>
    <div class="panel"> U$: <%= @book.value %></div>
  </div>
  <div class="panel">
    <h2>Number of pages:</h2>
    <div class="panel"> <%= @book.number_of_pages %> pag. </div>
  </div>

</div>