<!DOCTYPE html>
<html>
  <head>
    <title>Catalog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="panel header"> <h1>Book Catalog:</h1></div>
  <ul class="menu-container">
    <li class="menu-item">
      <%= link_to 'Books list', books_index_path %>
    </li>
    <li class="menu-item">
      <%= link_to 'Genre list', genres_index_path %>
    </li>
    <li class="menu-item">
    <%= link_to 'Report', books_report_path %>
    </li>
  </ul>
    <%= yield %>
  </body>
</html>
